<footer>
    <div class="footer__main">
        <div class="container">
            <div class="row">
                <div class="col-5 mt-5 footer__logo">
                    <a target="_blank" href="#"><img src="img/logofooter.png" alt=""></a>
                    <p class="footer__logo_text">до перемоги разом!</p>
                </div>
                <div class="col-7 mt-5 d-flex align-items-end justify-content-end">
                    <nav class="footer__nav">
                        <li><a target="_blank" href="#">про нас</a></li>
                        <li><a class="footer__nav_body" target="_blank" href="#"><img src="img/Vector.png" alt="">
                                проєкти</a></li>
                        <li><a target="_blank" href="#">потреби</a></li>
                        <li><a target="_blank" href="#">допомогти</a></li>
                    </nav>
                </div>
                <div class="col-5 mt-5">
                    <p class="footer__mail">office@lazarhelp.in.ua</p>
                </div>
                <div class="col-md-12 col-lg-7 mt-5 d-flex justify-content-center">
                    <p class="footer__info"><span class="footer__date">Пн-Нд 9:00–21:00</span>
                        <br>
                        <span class="footer__info_tel">Гаряча лінія: <span>+38 044 390 67 71</span></span>
                        <br>
                        <span class="footer__info_tel">WhatsApp, Telegram: <span>+380 (63) 897 37 33</span></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__last text-center">
        <p>© 2022, БО «Благодійний фонд «Лазар» </p>
    </div>
</footer>