<header>
    <div class="container">
        <div class="row">
            <div class="col-4 d-flex align-items-center">
                <a target="_blank" href="#"><img src="img/logo.svg" alt="logo"></a>
                <p class="header__logo_text">до перемоги разом!</p>
            </div>
            <div class="col-7 d-flex align-items-center justify-content-center">
                <ul class="header__menu ">
                    <li><a target="_blank" href="#">про нас</a></li>
                    <li><a class="header__menu_body" target="_blank" href="#"><img src="img/Vector.png" alt="">
                            проєкти</a></li>
                    <li><a target="_blank" href="#">потреби</a></li>
                    <li><a target="_blank" href="#">допомогти</a></li>
                </ul>
            </div>
            <div class="col-1 d-flex align-items-center justify-content-end">
                <img class="header__stroke" src="img/Vector.png" alt="">
                <p class="header__lang">UA</p>
            </div>
            <div class="burger-menu">
                <input id="menu-toggle" type="checkbox" />
                <label class="menu-btn" for="menu-toggle">
                  <span></span>
                </label>
             
                <ul class="menubox">
                        <li><a class="menu-item" href="#">Home</a></li>
                        <li><a class="menu-item" href="#">About us</a></li>
                        <li><a class="menu-item" href="#">Blog</a></li>
                        <li><a class="menu-item" href="#">Articles</a></li>
                        <li><a class="menu-item" href="#">Contacts</a></li>
                </ul>
              </div>
        </div>
    </div>

</header>