<div class="main__line"></div>
    <section class="last__menu">
        <div class="container">
            <div class="row">
                <div class="col-4 d-flex mt-4">
                    <a target="_blank" href="#" class="last__menu_item active">Головна</a>
                    <p class="last__menu_item">/</p>
                    <a target="_blank" href="#" class="last__menu_item">Проєкти</a>
                    <p class="last__menu_item">/</p>
                    <a target="_blank" href="#" class="last__menu_item"> Протезування</a>
                </div>
            </div>
        </div>
    </section>
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-12 mt-3 hero__title text-center">Протезування</div>
                <div class="col-12 text-center mt-4 hero__subtitle">БФ «ЛАЗАР» розпочинає проєкт допомоги українцям, які
                    втратили кінцівки рук <br> або ніг від військових дій на території України.</div>
                <div class="col-12 mt-5 hero__main-body d-flex align-items-center justify-content-center">
                    <div class="col-3 d-flex justify-content-end hero__main-body_number">325</div>
                    <div class="col-9 d-flex justify-content-center hero__main-body_text">постраждалих подали заявки
                        <br> на протезування
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 ps-0 mt-4 d-flex">
                    <div class="hero__child-body d-flex">
                        <img src="img/hero1.svg" alt="">
                        <div class="hero__child-body_info">
                            <p class="hero__child-body_info-text">Нижні <br> кінцівки</p>
                            <p class="hero__child-body_info-number">25</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 mt-4 d-flex">
                    <div class="hero__child-body d-flex">
                        <img src="img/hero2.svg" alt="">
                        <div class="hero__child-body_info">
                            <p class="hero__child-body_info-text">Верхні <br> кінцівки</p>
                            <p class="hero__child-body_info-number">45</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 mt-4 d-flex">
                    <div class="hero__child-body d-flex align-items-center">
                        <img class="hero__child-body_img-one" src="img/hero3.svg" alt="">
                        <div class="hero__child-body_info">
                            <p class="hero__child-body_info-text">Обличчя </p>
                            <p class="hero__child-body_info-number">50</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 pe-0 mt-4 d-flex">
                    <div class="hero__child-body d-flex align-items-center">
                        <div class="hero__child-body_img-two d-flex align-items-center justify-content-center">
                            <img class="hero__child-body_img-three" src="img/hero5.png" alt="">
                        </div>
                        <div class="hero__child-body_info">
                            <p class="hero__child-body_info-text">Інше</p>
                            <p class="hero__child-body_info-number">100</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-5 d-flex justify-content-center align-items-center">
                    <p class="hero__registration-text">Реєстр заявок на протезування</p>
                    <a target="_blank" href="#" class="hero__registration_buttton">Завантажити</a>
                </div>
                <div class="col-12 mt-5 hero__last-body d-flex align-items-center justify-content-center">
                    <div class="col-3 d-flex justify-content-end hero__last-body_number">59</div>
                    <div class="col-9 d-flex justify-content-center hero__last-body_text">постраждалих отримали <br>
                        допомогу</div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="registration">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="registration__title text-center">Зареєструватись на протезування</div>
                        <div class="registration__subtitle">Оберіть рівень протезування<p>*</p>
                        </div>
                    </div>
                    <div class="col-sm-12 registration__size col-md-6 p-0 col-lg-3 p-2 d-flex align-items-center">
                        <img src="img/reg1.svg" alt="">
                        <label class="registration__text">Пальці
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="col-sm-12 p-2 registration__size col-md-6 p-0 col-lg-3 p-0 d-flex align-items-center">
                        <img src="img/reg2.svg" alt="">
                        <label class="registration__text">Кисть
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="col-sm-12 p-1 registration__size col-md-6 p-3 col-lg-3 p-0 d-flex align-items-center">
                        <img src="img/reg3.svg" alt="">
                        <label class="registration__text">Передпліччя
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="col-sm-12 p-3 registration__size col-md-6 p-1 col-lg-3 p-0 d-flex align-items-center">
                        <img src="img/reg4.svg" alt="">
                        <label class="registration__text">Плече
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="col-sm-12 registration__size col-md-6 p-4 col-lg-3 p-4 d-flex align-items-center">
                        <img src="img/reg5.svg" alt="">
                        <label class="registration__text">Стопа
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="col-sm-12 p-4 registration__size col-md-6 p-3 col-lg-3 p-3 d-flex align-items-center">
                        <img src="img/reg6.svg" alt="">
                        <label class="registration__text">Гомілка
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="col-sm-12 registration__size col-md-6 p-4 col-lg-3 p-2 d-flex align-items-center">
                        <img src="img/reg7.svg" alt="">
                        <label class="registration__text">Стегно
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="col-sm-12 p-4 registration__size col-md-6 p-4 col-lg-3 d-flex align-items-center registration__size_item">
                        <img src="img/reg8.svg" alt="">
                        <label class="registration__text">Oбличч’я
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="col-sm-12 p-0 registration__size col-md-6 p-0 col-lg-3 p-0 d-flex align-items-center">
                        <img class="registration__main-img" src="img/reg9.svg" alt="">
                        <label class="registration__text">Шкіра
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="col-sm-12 registration__size col-md-6 p-0 col-lg-3 p-0 d-flex align-items-center">
                        <span class="registration__img d-flex justify-content-center align-items-center">
                            <img src="img/reg10.svg" alt="">
                            <img class="registration__img_last" src="img/Vector1.png" alt="">
                        </span>
                        <label class="registration__text">Iнше
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
                <div class="col-12 mt-5 registration__label">
                    <form class="registration__label">
                        <input class="registration__form" id="registration__form" type="text" placeholder="Прізвище, ім’я, по-батькові*">
                    </form>
                    <form class="mt-4 mb-4">
                        <input class="registration__form" id="registration__form" type="email" placeholder="E-mail*">
                    </form>
                    <form class="mb-5">
                        <input class="registration__form" id="registration__form" type="tel" placeholder="Телефон*">
                    </form>
                    <div class="row">
                        <div class="col-md-12 mt-0 col-lg-4">
                            <div class="registration__subtitle_next">Ви<p>*</p>
                            </div>
                            <form class="mb-4 d-flex align-items-center">
                                <input type="radio" id="accent">
                                <label class="registration__form_next-text" for="accent">потерпілий/ла</label>
                        </div>
                        <div class="col-md-12 mt-0 col-lg-8 d-flex align-items-center mt-4">
                            <form class="mb-4 d-flex align-items-center">
                                <input type="radio" id="accent">
                                <label class="registration__form_next-text" for="accent">батьки, опікуни чи рідні особи</label>
                            </form>
                        </div>
                        <div class="col-md-12 mt-4 col-12">
                            <form>
                                <input class="registration__form" id="registration__form" type="text"
                                    placeholder="Прізвище, ім’я, по-батькові потерпілого*">
                            </form>
                        </div>
                        <div class="col-12 mt-4">
                            <div class="registration__subtitle_next">Стать<p>*</p>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <form class="mb-4 d-flex align-items-center">
                                <input type="radio" id="accent">
                                <label class="registration__form_next-text" for="accent">жіноча</label>
                            </form>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <form class="mb-4 d-flex align-items-center">
                                <input type="radio" id="accent">
                                <label class="registration__form_next-text" for="accent">чоловіча</label>
                            </form>
                        </div>
                        <div class="col-12 mt-4">
                            <div class="registration__subtitle_next">Вік<p>*</p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <form class="mb-4 d-flex align-items-center">
                                <input type="radio" name="radio1" id="answer1" value="yes">
                                <label class="registration__form_next-text" for="answer1">2–11 років</label>
                            </form>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <form class="mb-4 d-flex align-items-center">
                                <input type="radio" id="accent">
                                <label class="registration__form_next-text" for="accent">12–17 років</label>
                            </form>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <form class="mb-4 d-flex align-items-center">
                                <input type="radio" id="accent">
                                <label class="registration__form_next-text" for="accent">18 і більше</label>
                            </form>
                        </div>
                        <div class="col-12">
                            <form class="mt-5 d-flex align-items-center">
                                <input class="registration__form_next-body" id="registration__form" type="text"
                                    placeholder="Короткий опис, діагноз*">
                            </form>
                        </div>
                        <div class="col-12 mt-5">
                            <a target="_blank" href="#" class="registration__button">
                                <p class="registration__button_text"> Зареєструватись</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12 mt-5 mb-5 text-center main__text">
                    <p>Дякуємо за реєстрацію! </p>
                    <p>
                        Ми зв’яжемось з Вами протягом 2-х днів
                        Просимо підготувати документи, які підтверджують <br> особу потерпілого,
                        медичні заключення (за можливості).</p>
                    <p>Слава Україні!</p>
                </div>
            </div>
        </div>
    </section>